
body {background: url("../images/seigaiha.png") no-repeat center fixed;
	  background-size:cover;
	  max-width: :960px;
	  margin:10 auto;
}

h1 {
	color: white;
	background-color:#4aaaa5;
	border-color:#cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float:left;
	left:10px;
	text-align:center;
}

h2 {

	color:#4aaaa5;
}

#header{ position: fixed;
		height:60px;
		width:960px;
		background: #ffffff;
		color:#777777;
		top:0;}


#links { font color: 777777;
		float:right;
		font-size: 14px;
		position:fixed;
		right:20px;
		top:10px;
		width: 270px;
		 }


#bio-image {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

#aboutme {font-color:#777777;
	background:#ffffff;
	border-color:#dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:650px;
	position:fixed;
	top:110px;
	float:left;
	left:15px;
	border-width: 5px}

.socailimages {
  margin-right: 20px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  	border width: 270px;
}

.portfolioimages {
  margin-right: 20px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
 
}


#connectwithme {
position:fixed;
right:20px;
top:110px;
float:right;
width: 270px;
background:#ffffff;
border-color:#dddddd
border-width:5px;
}

#footer {bottom: clear ;
		background:#666666;
		text-align:center;
		position:fixed;
		bottom:0px;
		left:0px;
		height:30px;
		width:960px;
		font:white;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

		
}
#aboutmetext {
	text-align: center;
}

.maincontainer {
	font-color:#777777;
	background:#ffffff;
	border-color:#dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:650px;
	position:fixed;
	top:150px;
	float:left;
	left:15px;
	border-width: 5px}